.bckgrnd{
	width: 100%;
	height: auto;
}
.main-body{
	background-color: #1A1A1A;
}
.body-header{
	
	color: white;
}
section{
	margin-top: none;
	margin-right: 20px;
}
@media screen and (max-width: 640px) {
    .main-body {
        background-color: #1A1A1A;
        width: auto;
        height: inherit;
    }
}
